/* font-family: 'IBM Plex Sans Arabic', sans-serif; */

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 500;

}

p {
    font-size: 1.4rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 200;
}

h1 {
    font-size: 2rem;

}

#sand {
    margin-top: -15%;
    width: 100vw;
    height: 20vw;
}

.issue {

    background-image: url("./imgs/Tropical-day1.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    vertical-align:middle;
}

.issue .message {
    position: fixed;
}
.issue  {
 padding-left: 1rem;
}




.header p {
    padding-bottom: 1rem;
}


.content {
    background-image: url(./imgs/calcada-copacabana-fundo.jpg);
    text-align: center;
    display: flex;
    /* padding: rem 2rem;  */
    color: #000000;

}



.text-result {
    text-align: center;
}

.quest-text-content {
    width: 20vw;
}
